/*import fonts*/
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url(./assets/fonts/Helvetica.ttf) format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica";
  src: local("HelveticaNeueBold"),
    url(./assets/fonts/HelveticaNeueBold.woff) format("woff");
  font-weight: bold;
}

/*Global*/
* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

.App {
  font-family: "helvetica";
  display: flex;
  flex-direction: column;
  background-color: #f3f5f5;
  color: #2e3333;
}

.center {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  /* padding: 0 30px; */
}

h1 {
  font-size: 32px;
  margin: 10px 0 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1.3;
}

/*Header*/
.Header {
  background-color: white;
}

.hr {
  border-bottom: 1px solid #e9ebeb;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  height: 42px;
  margin: 9px;
}

.cartLogo {
  display: none;
}

.boxRestaurant {
  padding: 30px 0;
  display: flex;
}

.restaurantIntro {
  flex: 1 1;
  margin-right: 30px;
}

.restaurantIntro > p {
  color: #868a8a;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
}

.restaurantImage {
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
}

/*main*/
main {
  max-width: 1200px;
  display: flex;
}
/*Categories*/
.Categories {
  flex: 1 1;
  margin-right: 30px;
}

/*Meals*/
.Meals {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -10px;
}
/*Meal*/
.Meal {
  width: 50%;
  min-width: 300px;
  padding: 0 10px 25px;
}

.card {
  border-radius: 5px;
  height: 160px;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px black;
  transition-duration: 0.3s;
}

.menu {
  flex: 1 1;
  margin-right: 15px;
}

.menu p {
  font-size: 14px;
  color: #808484;
  line-height: 1.3;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.menuInfos {
  display: flex;
  align-items: center;
}

.price {
  color: #808484;
  font-size: 18px;
}

.popularity {
  /* display: flex;
  align-items: center; */
  color: #ff8000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 16px;
}

.popularity img {
  height: 16px;
  margin-bottom: -3px;
  margin-right: 5px;
}

.menuImage {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.menuImage > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*Cart*/
.boxCart {
  width: 350px;
  position: sticky;
  top: 0;
}

.Cart {
  box-shadow: 0 22px 24px 0 rgb(46 51 51 / 7%);
  background: white;
  border-radius: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px 0;
}

.cart {
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.void {
  background: #bac3c3;
  color: #8b9a9b;
}

.void:hover {
  cursor: not-allowed;
}

.full {
  background: #00cdbd;
  color: #fff;
}

.full:hover {
  cursor: pointer;
}

.empty {
  color: #868a8a;
  text-align: center;
  padding: 48px 0;
}

.fill {
  border-bottom: 1px solid #d1d7d7;
  margin: 0 10px;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

/*Article*/
.Article {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
}

.counter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #808484;
}

.minus,
.plus {
  height: 20px;
}

.minus:hover,
.plus:hover {
  cursor: pointer;
}

.count {
  min-width: 1rem;
  text-align: center;
}

.articleName {
  flex: 1 1;
}

.articlePrice {
  width: 85px;
  text-align: right;
  margin-left: 10px;
  white-space: nowrap;
}

.billDetails {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid #d1d7d7;
}

.bill,
.deliveryFee {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.billName,
.deliveryFeeName,
.totalName {
  flex: 1 1;
}

.billPrice,
.totalPrice {
  width: 85px;
  text-align: right;
}

.total {
  display: flex;
  align-items: flex-start;
  padding: 1.3rem 0;
  margin: 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
/*Footer*/
.Footer {
  background-color: white;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Footer a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.Footer p {
  font-size: 25px;
  margin-left: 0;
}

.modalBackground {
  display: none;
}

/*RESPONSIVE*/

/*Tablette*/
@media (max-width: 1240px) AND (min-width: 768px) {
  /*Global*/
  .center {
    max-width: 1240px;
    margin: 0 30px;
  }

  h1 {
    font-size: 25px;
    margin: 10px 0 28px;
  }

  h2 {
    font-size: 20px;
    margin: 15px 0;
  }

  h3 {
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1;
  }

  /*Header*/
  .boxRestaurant {
    padding: 20px 0;
  }

  .restaurantIntro {
    margin-right: 15px;
  }

  .restaurantIntro > p {
    font-size: 15px;
    line-height: 1.3;
    margin-top: 18px;
  }

  .restaurantImage {
    width: 300px;
  }

  /*main*/
  main {
    max-width: 1240px;
  }
  /*Categories*/
  .Categories {
    margin-right: 15px;
  }

  /*Meals*/
  .Meals {
    margin: 0 -10px;
  }
  /*Meal*/
  .Meal {
    width: 50%;
    min-width: 231px;
    padding: 0 5px 10px;
  }

  .card {
    height: 175px;
    padding: 5px;
  }

  .menu {
    margin-right: 15px;
  }

  .menu p {
    font-size: 12px;
    line-height: 1;
    height: 85px;
    margin-bottom: 10px;
  }

  .price {
    font-size: 10px;
  }

  .popularity {
    font-size: 10px;
    margin-left: 2px;
  }

  .popularity img {
    height: 10px;
    margin-bottom: -2px;
    margin-right: 2px;
  }

  .menuImage {
    height: 100px;
    width: 100px;
  }

  /*Cart*/
  .boxCart {
    width: 250px;
  }

  .Cart {
    box-shadow: 0 22px 24px 0 rgb(46 51 51 / 7%);
    margin: 15px 0;
  }

  .cart {
    margin: 10px;
    font-size: 14px;
  }

  .empty {
    padding: 20px 0;
  }

  .articles {
    font-size: 12px;
  }

  /*Footer*/
  .Footer {
    padding-top: 20px;
    margin-top: 15px;
  }

  .Footer p {
    font-size: 18px;
  }
}
/*Smartphone*/
@media (max-width: 767px) {
  /*Global*/
  .center {
    max-width: 767px; /**/
  }

  h1 {
    font-size: 25px;
    margin: 10px 0 0px;
    text-align: center; /**/
  }

  h2 {
    font-size: 20px;
    margin: 15px 0;
  }

  h3 {
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1;
  }

  /*Header*/

  .boxLogo {
    justify-content: space-between;
  }

  .cartLogo {
    display: inherit;
    font-size: 30px;
    margin: 15px 9px 15px;
    color: #00cdbd;
  }

  .boxRestaurant {
    padding: 0 0;
    flex-direction: column;
    align-items: center;
  }

  .restaurantIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .restaurantIntro > p {
    font-size: 15px;
    line-height: 1.3;
    margin-top: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  .restaurantImage {
    width: 300px;
  }

  /*main*/
  main {
    max-width: 767px;
  }
  /*Categories*/
  .Categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }

  /*Meals*/
  .Meals {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -10px;
  }
  /*Meal*/
  .Meal {
    width: 300px;
    margin: 0;
    padding: 0 5px 10px;
  }

  .card {
    height: 175px;
    padding: 5px;
  }

  .menu {
    margin-right: 15px;
  }

  .menu p {
    font-size: 12px;
    line-height: 1;
    height: 85px;
    margin-bottom: 10px;
  }

  .price {
    font-size: 10px;
  }

  .popularity {
    font-size: 10px;
    margin-left: 2px;
  }

  .popularity img {
    height: 10px;
    margin-bottom: -2px;
    margin-right: 2px;
  }

  .menuImage {
    height: 100px;
    width: 100px;
  }

  /*Cart*/
  .boxCart {
    display: none;
  }

  .Cart {
    margin: 0 0;
    width: 290px;
  }

  .cart {
    margin: 10px;
    font-size: 14px;
  }

  .empty {
    padding: 20px 0;
  }

  .articles {
    font-size: 12px;
  }

  .fill {
    width: 270px;
    max-height: 260px;
  }

  .empty {
    width: 290px;
  }

  .total {
    padding: 10px;
  }

  /*Footer*/
  .Footer {
    padding-top: 20px;
    margin-top: 15px;
  }

  .Footer p {
    font-size: 14px;
  }

  /*Modal*/

  .modalBackground {
    display: inherit;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalContainer {
    width: 300px;
    height: 500px;
    border-radius: 12px;
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .boxClose-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .close-btn {
    color: darkgray;
    font-size: 30px;
    font-weight: bold;
  }
  .close-btn:hover {
    cursor: pointer;
    color: #333333;
  }
}
